@import 'tailwindcss';

:root {
  --background: #000000;
}

body {
  background: var(--background);
}

@utility hover-animation {
  @apply cursor-pointer opacity-75 transition-opacity duration-100 hover:opacity-100;
}
